.list-header {
  text-align: center;
  padding: 32px 16px 16px;
}

.list-header h1 {
  font-size: 28px;
  font-weight: 700;
  color: #222;
  margin: 0 0 8px;
}

.list-header p {
  color: #888;
  margin: 0;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  padding: 16px 24px 40px;
  max-width: 1400px;
  margin: 0 auto;
}
.empty-container{
  grid-column: 1 / -1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 100px;
}

.empty-msg{
 font-size: 25px;
 color: #666;
}
/* 
.btn-refresh {
  padding: 10px 20px;
  background-color: #e31e24;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;
}

.btn-refresh:hover {
  background-color: #c1191f;
} */

button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08); 
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #222; 
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 3px;
  background-color: #e31e24; 
  color: #ffffff;
  box-shadow: rgba(227, 30, 36, 0.4) 0px 7px 29px 0px; 
}

button:active {
  letter-spacing: 3px;
  background-color: #c1191f; 
  color: #ffffff;
  box-shadow: rgba(227, 30, 36, 0.2) 0px 0px 0px 0px;
  transform: translateY(5px); 
  transition: 100ms;
}



@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr;
    padding: 12px;
  }
}